<html>
<body>
	<!-- TODO: add internationalization -->
	<h1>Listado de pedidos</h1>
	{{#deliveries}}
	<a href="delivery/{{-index}}">{{name}}</a><br>
	{{/deliveries}}    
	<br>
	<form action="newDelivery.html">
		<button type="submit">Nuevo Pedido</button>
	</form>
</body>
</html>