<html>
<body>
	<!-- TODO: add internationalization -->
	<h3>El pedido de nombre <b>{{delivery.name}}</b> <b>(id{{delivery.id}})</b> se borró correctamente</h3>
	<a href="/">Volver a la lista de pedidos</a>
</body>
</html>