<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/justified-nav.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="/css/signin.css" rel="stylesheet">
</head>
<body>
	<!-- TODO: add internationalization -->
	<div class="well">
        <h4>OrderWebForm</h4> <p>Página básica de creación de pedidos realizada con CSS Bootstrap, Javascript, HTML5 y JavaSpring como Backend</p>
    </div>
	<h3>El pedido de nombre <b>{{delivery.name}}</b> se guardó correctamente</h3>
	<a href="/">Volver a la lista de pedidos</a>
</body>
</html>