<html>
<meta charset="UTF-8">
<body>
	<!-- TODO: add internationalization -->
	<h3>El pedido con identificador <b>{{delivery_id}}</b> no se encuentra en la base de datos</h3>
	<a href="/">Volver a la lista de pedidos</a>
</body>
</html>