<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/justified-nav.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="/css/signin.css" rel="stylesheet">
</head>
<body>
	<!-- TODO: add internationalization -->
	<div class="well">
        <h4>OrderWebForm</h4><p>Página básica de creación de pedidos realizada con CSS Bootstrap, Javascript, HTML5 y JavaSpring como Backend</p>
    </div>
	<div class="container">
		<div class="masthead">
			<h3>El pedido con identificador <b>{{delivery_id}}</b> no se encuentra en la base de datos</h3>
			<a href="/">Volver a la lista de pedidos</a>
		</div>
	</div>
</body>
</html>