<html>
<meta charset="UTF-8">
<body>
	<!-- TODO: add internationalization -->
	<h3>El pedido de nombre <b>{{delivery.name}}</b> se guardó correctamente</h3>
	<a href="/">Volver a la lista de pedidos</a>
</body>
</html>