<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/justified-nav.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="/css/signin.css" rel="stylesheet">
</head>
<script type="text/javascript" src="/jscripts.js"></script>
{{#elements.1}}
<body onload="setNextElementNumber({{elements_length}});">
{{/elements.1}}
{{^elements.1}}
<body>
{{/elements.1}}
	<!-- TODO: add internationalization -->
	<div class="well">
        <h4>OrderWebForm</h4> <p>Página básica de creación de pedidos realizada con CSS Bootstrap, Javascript, HTML5 y JavaSpring como Backend</p>
    </div>
    <div class="container">
		<div class="masthead">
			<h3>Modificar Pedido</h3>
			<form id="modify_delivery" action="/delivery/modify/commit/{{delivery.id}}" method="post">
				<div id="delivery_div">
					Nombre del pedido:<input type="text" name="name" value={{delivery.name}} id="delivery_name" onkeyup="buttonDisabledOrEnabled();"/>
				</div>
				<div id="element_div">
					{{#elements}}
					    {{^checked}}
							<br id="br{{-index}}"><input value="{{name}}" onchange="checkedChange(this);" type="checkbox" id="check{{-index}}" name="checkbox">
							<span id="elem_label{{-index}}"></span>
							<input type="text" id="{{-index}}" value="{{name}}" name="elements" onkeyup="buttonDisabledOrEnabled();"/>
						{{/checked}}
						{{#checked}}
							<br id="br{{-index}}"><input value="{{name}}" onchange="checkedChange(this);" type="checkbox" id="check{{-index}}" name="checkbox" checked>
							<span id="elem_label{{-index}}"></span>
							<input type="text" style="text-decoration: line-through;" id="{{-index}}" value="{{name}}" name="elements" onkeyup="buttonDisabledOrEnabled();"/>
						{{/checked}}
					{{#elements.1}}
						<button type="button" id="delete_button{{-index}}" onclick="deleteElementModification(this);">Borrar Elemento</button>
					{{/elements.1}}
					{{/elements}}
				</div>
				<br>
				<button type="button" onclick="addElementModification();">Añadir Elemento</button>
				<button type="submit" id="submit_button" class="btn btn-primary">Actualizar Pedido</button>
			</form>
			<form action="/">
				<button type="submit" class="btn-link">Volver a Listado de Pedidos</button>
			</form>
		</div>
    </div>
</body>
</html>