<html>
<meta charset="UTF-8">
<body>
	<!-- TODO: add internationalization -->
	<h3>Pedido:{{delivery.name}}</h3>
	{{#elements}}
	<p>Elemento:{{name}}</p>
	{{/elements}}    
	<br>
	<form action="/delivery/delete/{{delivery.id}}" id="delete_delivery" onsubmit="return confirm('Seguro?');">
		<button type="submit">Borrar Pedido</button>
	</form>
	<form action="/delivery/modify/{{delivery.id}}">
		<button type="submit">Modificar Pedido</button>
	</form>
	<form action="/">
		<button type="submit">Volver a Listado de Pedidos</button>
	</form>
</body>
</html>