<html>
<meta charset="UTF-8">
<head>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/justified-nav.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="/css/signin.css" rel="stylesheet">
</head>
<body>
	<!-- TODO: add internationalization -->
	<div class="well">
        <h4>OrderWebForm</h4> <p>Página básica de creación de pedidos realizada con CSS Bootstrap, Javascript, HTML5 y JavaSpring como Backend</p>
    </div>
    <div class="container">
		<div class="masthead">
			<h3>Pedido:{{delivery.name}}</h3>
			<div class="table-responsive">
			<table class="table table-striped table-condensed">
			<tbody>
			{{#elements}}
				{{^checked}}
				<tr><td><p>{{name}}</p></td></tr>
				{{/checked}}
				{{#checked}}
				<tr><td><p style="text-decoration: line-through;">{{name}}</p></td></tr>
				{{/checked}}
			{{/elements}}
			</tbody>
			</table>
			<table class="table table-striped table-condensed">
			<tbody>
			<form action="/delivery/delete/{{delivery.id}}" id="delete_delivery" onsubmit="return confirm('Seguro?');">
				<button type="submit" class="btn btn-danger">Borrar Pedido</button>
			</form>
			<form action="/delivery/modify/{{delivery.id}}">
				<button type="submit" class="btn btn-primary">Modificar Pedido</button>
			</form>
			</tbody>
			</table>
			<form action="/">
				<button type="submit" class="btn-link">Volver a Listado de Pedidos</button>
			</form>
		</div>
	</div>
</body>
</html>