<html>
<body>
	<!-- TODO: add internationalization -->
	<h3>Pedido:{{delivery.name}}</h3>
	{{#elements}}
	<p>Elemento:{{name}}</p>
	{{/elements}}    
	<br>
	<form action="/">
		<button type="submit">Volver</button>
	</form>
</body>
</html>